# Database configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# JWT secret key
JWT_SECRET_KEY=

# Email
SUPPORT_EMAIL=
APP_PASSWORD=

# AWS S3
S3_BUCKET_NAME=
S3_BUCKET_REGION=

# Spring
DDL_AUTO=
SPRING_PROFILES_ACTIVE=
